* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Sans;
    text-decoration: none;
}

body{
    position: relative;
}

@font-face {
    font-family: 'Sans';
    src: local('Sans'), url(./assets/fonts/IRANSans-web.woff2) format('truetype');
}
